<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Uni\Semester 2\IOOP\Assignment\Compiled\Group_35_Assignment\IOOP_DB.mdf";Integrated Security=True'
		providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>